@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes textflicker {
    from {
      filter: drop-shadow(2px 0 6px rgba(203, 232, 211, 0.8));
      opacity: 100%;
      transform: rotate(0.5deg);
    }
    20% {
      filter: drop-shadow(1px 2px -5px rgba(203, 5, 211, 0.6));
      opacity: 80%;
      transform: translateY(1px);
    }
    40% {
      filter: drop-shadow(5px 0 5px rgba(102, 252, 211, 0.8));
      opacity: 100%;
      transform: rotate(-0.75deg);
    }
    60% {
      filter: drop-shadow(2px -4px 6px rgba(203, 252, 0, 0.55));
      opacity: 90%;
    }
    to {
      filter: drop-shadow(0 0 6px rgba(12, 232, 211, 0.9));
    }
  }

  .glow {
    animation: textflicker 1.2s infinite alternate linear;
  }

  .glow:nth-child(2) {
    animation-delay: 0.5s;
  }

  .screen {
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
      linear-gradient(225deg, #ffffff 25%, transparent 25%),
      linear-gradient(45deg, rgba(102, 252, 211, 0.8) 25%, transparent 25%),
      linear-gradient(315deg, #444cf7 25%, rgba(12, 232, 211, 0.9) 25%);
    background-size: 2px 3px;
    background-repeat: repeat;
    opacity: 1
  }
}@layer utilities {
  @keyframes textflicker {
    from {
      filter: drop-shadow(2px 0 6px rgba(203, 232, 211, 0.8));
      opacity: 100%;
      transform: rotate(0.5deg);
    }
    20% {
      filter: drop-shadow(1px 2px -5px rgba(203, 5, 211, 0.6));
      opacity: 80%;
      transform: translateY(1px);
    }
    40% {
      filter: drop-shadow(5px 0 5px rgba(102, 252, 211, 0.8));
      opacity: 100%;
      transform: rotate(-0.75deg);
    }
    60% {
      filter: drop-shadow(2px -4px 6px rgba(203, 252, 0, 0.55));
      opacity: 90%;
    }
    to {
      filter: drop-shadow(0 0 6px rgba(12, 232, 211, 0.9));
    }
  }

  .glow {
    animation: textflicker 1.2s infinite alternate linear;
  }

  .glow:nth-child(2) {
    animation-delay: 0.5s;
  }

  .screen {
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
      linear-gradient(225deg, #ffffff 25%, transparent 25%),
      linear-gradient(45deg, rgba(102, 252, 211, 0.8) 25%, transparent 25%),
      linear-gradient(315deg, #444cf7 25%, rgba(12, 232, 211, 0.9) 25%);
    background-size: 2px 3px;
    background-repeat: repeat;
    opacity: 1
  }
}
